<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Event Type</th>
      <th>Name</th>
      <th>CountType</th>
      <th>UseInAction</th>
      <th>TargetUser</th>
      <th>HourPart</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.eventTypeId }}</td>
      <td>{{ forecast.name }}</td>
      <td>{{ forecast.countType }}</td>
      <td>{{ forecast.userInAction }}</td>
      <td>{{ forecast.targetUser }}</td>
      <td>{{ forecast.hourPart }}</td>
    </tr>
  </tbody>
</table>
