<h1 id="tableLabel">Hourly chat room events</h1>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Events</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <ng-container *ngIf="!forecast.sameHourAsPrevious">
        <td>{{ forecast.hourPart.substr(0, 10) }}</td>
        <td>{{ forecast.hourPart.substr(11, 5) }}</td>
      </ng-container>
      <ng-container *ngIf="forecast.sameHourAsPrevious">
        <td></td>
        <td></td>
      </ng-container>
      <td *ngIf="forecast.eventTypeId == 1">{{ forecast.countType }} person entered</td>
      <td *ngIf="forecast.eventTypeId == 2">{{ forecast.countType }} left</td>
      <td *ngIf="forecast.eventTypeId == 3">{{ forecast.countType }} comments</td>
      <td *ngIf="forecast.eventTypeId == 4">{{ forecast.userInAction }} high-fived {{ forecast.targetUser }} other people</td>
    </tr>
  </tbody>
</table>
